<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
<title>Service page</title>
</head>
<body>
    <section id="content">
     <h1>Welcome to services page</h1>
     <h2>Services offered by SCM</h2>
     Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro natus dolores, recusandae tempore ipsum totam illum doloremque velit corrupti praesentium ipsam sequi inventore quos voluptas magnam esse reprehenderit voluptatem laboriosam?<10></10>
    </section>
    <script>
        console.log("service page");
    </script>
    
</body>
</html>






































<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is services page</h1>
   <div th:replace="~{base :: parent(~{::.third_content})}">
    <section id="main_content">
        <h1>This is dynamic services passed to base parent</h1>
    </section>
    <section id="second_content">
        <h1>This is second dynamic services passed to base parent</h1>
    </section>
    <section class="third_content">
        <h1>This is third dynamic services passed to base parent</h1>
    </section>
   </div>
</body>
</html>-->